html, body {
    background-color: #ddd;
    height: 100%;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

sup {
    font-size: 12px;
}

#lyricsShower, #letter {
    font-family: monospace;
}

#letter {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

#lyricsShower {
    padding: 30px;
    -webkit-column-count: 2;
    column-count: 2;
}
